header {
  height: 70px;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all ease 0.5s;
}

.header-logo {
  height: 30px;
  margin-top: 0px;
  margin-left: 20px;
}

.header-logo img {
  /* height: 100%; */
  width: 110px;
}

.header-user {
  height: 35px;
}

.header-user img {
  width: 38px;
  margin-right: 32px;
  border-radius: 5px;
}

header.black {
  background: #141414;
}
